@charset "utf-8";
/* CSS Document */
h1{
	text-align:center;
	font-size: 10pt;
	color:seagreen;
}
dt{
	font-size:25pt;
	color:seagreen;
}
dd{
	font-size:15pt;
	color:lightseagreen;
}
*{
	background-color:lightgray; 
}